<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout1}" lang="en">
<head><div layout:fragment="metadata" th:remove="tag">
    <title>Abhijay's FRQ3 Result</title></div>
</head>

<body style="background-image: url(https://coolbackgrounds.io/images/backgrounds/index/sea-edge-79ab30e2.png)"><div layout:fragment="content" th:remove="tag">
<div style="display: flex;
        flex-direction: column;
justify-content: center">
    <h1 style="font-size:75px;
        color: White;
        font-weight: bold;
        margin:auto;
        margin-top: 20px;
        "
    >FRQ 3 Result!</h1>
    <p style="
    font-size: x-large;
        border-radius: 10px;
        color: #555555;
        background-color: #eeeeee;
        border: #dddddd 2px solid;
       margin: 40px 200px;
       text-align: center;
       padding: 50px 25px;
"
    ><span>Dinner Party Info: </span><br><br>
        <span th:text="${result}"></span></p>
</div></div>
</body>
</html>