<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout1}" lang="en">

<head><div layout:fragment="metadata" th:remove="tag">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!--
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
  -->
  <meta charset="utf-8">
  <title>About Us</title>
  <link th:href="@{/styles/styles.css}" rel="stylesheet" />
  <script src="https://kit.fontawesome.com/ecb5994ee2.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
</div>

  <title>...</title></head>

<body class="about-bg"><div layout:fragment="content" th:remove="tag">
  <h1 class="about-header">About Us</h1>
  <p class="about-body"><a href=href="key?keyword=technology">Click for Tech API</a></p>

  <p class="about-body">Collaborators On This Project</p>

  <div class="row justify-content-around container">

    <div class="box column" data-tilt>
      <div class="circle"></div>
      <img class="aboutImage" src="images/abhijay.jpg" width="200px" height="200px">
      <p class="aboutName">Abhijay</p>
      <p class="aboutNick">"Scrum Master"</p>
      <p class="aboutSocial1"><a target="_blank" href="https://github.com/Dubshott"><i style="color:red" class="fa fa-github"></i></a></p>
      <p class="aboutSocial2"><a href="/abhijay"><i style="color:red" class="fa fa-cloud"></i></a></p>
    </div>

    <div class="box column" data-tilt>
      <div class="circle"></div>
      <img class="aboutImage" src="images/justin.jpg" width="200px" height="200px">
      <p class="aboutName">Justin</p>
      <p class="aboutNick">"Deployment Manager"</p>
      <p class="aboutSocial1"><a target="_blank" href="https://github.com/jli615"><i style="color:orange" class="fa fa-github"></i></a></p>
      <p class="aboutSocial2"><a href="/justin"><i style="color:orange" class="fa fa-cloud"></i></a></p>
    </div>

    <div class="box column" data-tilt>
      <div class="circle"></div>
      <img class="aboutImage" src="images/kian.jpg" width="200px" height="200px">
      <p class="aboutName">Kian</p>
      <p class="aboutNick">"Web Designer"</p>
      <p class="aboutSocial1"><a target="_blank" href="https://github.com/Uhpachee"><i style="color:yellow" class="fa fa-github"></i></a></p>
      <p class="aboutSocial2"><a href="/kiantransition"><i style="color:yellow" class="fa fa-cloud"></i></a></p>
    </div>

  <div class="row2 justify-content-around container">

    <div class="box column" data-tilt>
      <div class="circle"></div>
      <img class="aboutImage" src="images/rohan.jpg" width="200px" height="200px">
      <p class="aboutName">Rohan</p>
      <p class="aboutNick">"Technical Officer"</p>
      <p class="aboutSocial1"><a target="_blank" href="https://github.com/RohanKoshy"><i style="color:green" class="fa fa-github"></i></a></p>
      <p class="aboutSocial2"><a href="/rohan"><i style="color:green" class="fa fa-cloud"></i></a></p>
    </div>

    <div class="box column" data-tilt>
      <div class="circle"></div>
      <img class="aboutImage" src="images/shekar.jpg" width="200px" height="200px">
      <p class="aboutName">Shekar</p>
      <p class="aboutNick">"Github Admin"</p>
      <p class="aboutSocial1"><a target="_blank" href="https://github.com/shekark642"><i style="color:blue" class="fa fa-github"></i></a></p>
      <p class="aboutSocial2"><a href="/shekar"><i style="color:blue" class="fa fa-cloud"></i></a></p>
    </div>

    <!--
    <div class="column">
      <img src="/src/main/static/images/bulb_off.jpg" th:src="@{/images/bulb_off.jpg}" width="50" height="50" class="face" alt="dylan">
      <p class="face-name">Abhijay Deevi</p>
      <p class="face-text">Scrum Master</p>
      <dl>
        <a href="/abhijay">Individual About Us Page</a>
      </dl>
      <center><a href="https://github.com/Dubshott" style="text-decoration: none; color:black;"><i class="git fab fa-github fa-2x"></i></a></center>
    </div>

    <div class="column">
      <img src="/src/main/static/images/don't panic chicken.jpg" th:src="@{/images/don't panic chicken.jpg}" width="50" height="50" class="face" alt="shekar">
      <p class="face-name">Justin Li</p>
      <p class="face-text">Deployment Officer</p>
      <dl>
        <a href="/justin">Individual About Us Page</a>
      </dl>
      <center><a href="https://github.com/shekark642" style="text-decoration: none; color:black;"><i class="git fab fa-github fa-2x"></i></a></center>
    </div>

    <div class="column">
      <img src="/src/main/static/images/ncs_logo.jpg" th:src="@{/images/ncs_logo.jpg}" width="50" height="50" class="face" alt="chris">
      <p class="face-name">Shekar Krishnamoorthy</p>
      <p class="face-text">Github Manager</p>
      <dl>
        <a href="/shekar">Individual About Us Page</a>
      </dl>
      <center><a href="https://github.com/jli615" style="text-decoration: none; color:black;"><i class="git fab fa-github fa-2x"></i></a></center>
    </div>

    <div class="column">
      <img src="/src/main/static/images/chickenbg.jpg" th:src="@{/images/chickenbg.jpg}" width="50" height="50" class="face" alt="sam">
      <p class="face-name">Rohan Koshy</p>
      <p class="face-text">Technical Officer</p>
      <dl>
        <a href="/rohan">Individual About Us Page</a>
      </dl>
      <center><a href="https://github.com/RohanKoshy" style="text-decoration: none; color:black;"><i class="git fab fa-github fa-2x"></i></a></center>
    </div>

    <div class="column">
      <img src="images/kian.jpg" width="50" height="50" class="face" alt="kian">
      <p class="face-name">Kian Kishimoto</p>
      <p class="face-text">Web designer</p>
      <dl>
        <a href="/kiantransition">Individual About Us Page</a>
      </dl>
      <center><a href="https://github.com/Uhpachee" style="text-decoration: none; color:black;"><i class="git fab fa-github fa-2x"></i></a></center>
    </div>

-->
  </div>
</div>
</div>
</body>
</html>