<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"

<head style="padding-top:70px; text-align: center; color: #9daf9b">
    <div th:replace="fragments/head1 :: header"></div>
    <div layout:fragment="metadata"></div>
    <link th:href="@{/styles/styles.css}" rel="stylesheet" />
</head>


<div th:replace="fragments/nav1 :: header"></div>
<div layout:fragment="content"></div>
<div layout:fragment="script"></div>
<head>
<p style="font-size: 100px;">API Page</p>
    <p style="font-size: 60px;">JavaScript API that displays the best japanese games that originated from books</p>

    <meta charset="UTF-8">

    <title>API</title>

    <link href="https://fonts.googleapis.com/css?family=Dosis:400,700" rel="stylesheet">
    <link href="style.css" rel="stylesheet">

</head>

<body>

<div id="root"></div>

<script>
    const app = document.getElementById('root');

    const logo = document.createElement('img');
    logo.src = 'logo.png';

    const container = document.createElement('div');
    container.setAttribute('class', 'container');

    app.appendChild(logo);
    app.appendChild(container);

    var request = new XMLHttpRequest();
    request.open('GET', 'https://ghibliapi.herokuapp.com/films', true);
    request.onload = function () {

        // Begin accessing JSON data here
        var data = JSON.parse(this.response);
        if (request.status >= 200 && request.status < 400) {
            data.forEach(movie => {
                const card = document.createElement('div');
                card.setAttribute('class', 'card');

                const h1 = document.createElement('h1');
                h1.textContent = movie.title;

                const p = document.createElement('p');
                movie.description = movie.description.substring(0, 300);
                p.textContent = `${movie.description}...`;

                container.appendChild(card);
                card.appendChild(h1);
                card.appendChild(p);
            });
        } else {
            const errorMessage = document.createElement('marquee');
            errorMessage.textContent = `Gah, it's not working!`;
            app.appendChild(errorMessage);
        }
    }

    request.send();
</script>



</body>

</html>










