<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout1}" lang="en">
<head><div layout:fragment="metadata" th:remove="tag">
    <meta charset="UTF-8">
    <title>Good Music</title>
</div>
</head>
<body><div layout:fragment="content" th:remove="tag">
    <div class="box column" data-tilt>
        <div class="circle"></div>
        <img class="aboutImage" src="images/chickenrange.jpeg" width="200px" height="200px">
        <p class="aboutName">Spotify</p>
        <p class="aboutNick">"Top 10 List"</p>
</div>
</div></body>
</html>